<p id="notice"><%= notice %></p>

<h1>Service Areas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_areas.each do |service_area| %>
      <tr>
        <td><%= service_area.name %></td>
        <td><%= link_to 'Show', service_area %></td>
        <td><%= link_to 'Edit', edit_service_area_path(service_area) %></td>
        <td><%= link_to 'Destroy', service_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Area', new_service_area_path %>
