<p id="notice"><%= notice %></p>

<h1>Service Modes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_modes.each do |service_mode| %>
      <tr>
        <td><%= service_mode.name %></td>
        <td><%= link_to 'Show', service_mode %></td>
        <td><%= link_to 'Edit', edit_service_mode_path(service_mode) %></td>
        <td><%= link_to 'Destroy', service_mode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Mode', new_service_mode_path %>
