
<div id="chart-employment"><%= pie_chart @ha,download: {background: "#ffffff"}, colors: ["#07F1E0", "Orange"] ,min: 0, max: 50%></div>

<p id="notice"><%= notice %></p>
<div class="my-3 my-md-5">
<div class="container">
          <div class="row row-cards row-deck">          
 <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Servicios Realizados</h3>
                  </div>
                  <div class="table-responsive">


<table id="dttb" class="table card-table table-vcenter text-nowrap datatable">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Tecnico</th>
      <th>Area</th>
      <th>Area de Servicio</th>
      <th>Tipo de servicio</th>
      <th>Clasificacion De Servicio</th>
       <th>Observacion</th>
<th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.date %></td>
        <td><%= service.tecnic.name %></td>
        <td><%= service.area.name %></td>
        <td><%= service.service_area.name %></td>
        <td><%= service.service_mode.name %></td>
        <td><%= service.service_type.name %></td>
        <td><%= service.observation %></td>
   
       <td ><button data-toggle="dropdown" type="button" class="btn btn-secondary dropdown-toggle" aria-expanded="true">
        <span class="caret">Ver/Editar/Borrar</span></button>
        <ul class="dropdown-menu">
         <li> <%= link_to 'Ver', service,class:'dropdown-item' %></li>
          <li><%= link_to 'Editar', edit_service_path(service),class:'dropdown-item' %></li>
         <li> <%= link_to 'Borrar', service, method: :delete, data: { confirm: 'Are you sure?' },class:'dropdown-item' %></li>
        
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
    
                      </div>
                    
                </div>
                
              </div>
 </div>
              </div>

 </div>

<br>
