<p id="notice"><%= notice %></p>

<h1>Tecnics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tecnics.each do |tecnic| %>
      <tr>
        <td><%= tecnic.name %></td>
        <td><%= link_to 'Show', tecnic %></td>
        <td><%= link_to 'Edit', edit_tecnic_path(tecnic) %></td>
        <td><%= link_to 'Destroy', tecnic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tecnic', new_tecnic_path %>
