<p id="notice"><%= notice %></p>
<div class="my-3 my-md-5">
<div class="container">
          <div class="row row-cards row-deck">          
 <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Reparaciones realizadas</h3>
                  </div>
                  <div class="table-responsive">


<table id="dttb" class="table card-table table-vcenter text-nowrap datatable">
  <thead>
    <tr>
      <th>Date</th>
      <th>Pccode</th>
      <th>Observation</th>
      <th>Tecnico</th>
      <th>Area</th>
      <th>Tipo de reparacion</th>
      <th>Acciones</th>
    </tr>
  </thead>
<tbody>
    <% @repair_histories.each do |repair_history| %>
      <tr>
        <td><%= repair_history.date %></td>
        <td><%= repair_history.pccode %></td>
        <td><%= repair_history.observation %></td>
       <td><%= repair_history.tecnic.name %></td>
       <td><%= repair_history.service_area.name %></td>
        <td><%= repair_history.repair_type.name %></td>
       <td ><button data-toggle="dropdown" type="button" class="btn btn-secondary dropdown-toggle" aria-expanded="true">
        <span class="caret">Ver/Editar/Borrar</span></button>
        <ul class="dropdown-menu">
         <li> <%= link_to 'Ver', repair_history,class:'dropdown-item' %></li>
          <li><%= link_to 'Editar', edit_repair_history_path(repair_history),class:'dropdown-item' %></li>
         <li> <%= link_to 'Borrar', repair_history, method: :delete, data: { confirm: 'Are you sure?' },class:'dropdown-item' %></li>
        
        </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
 
</table>
    
                      </div>
                    
                </div>
                
              </div>
 </div>
              </div>

 </div>

<br>






