<!DOCTYPE html>
<html>
  <head>
    <title>Infapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <body class="">

    <div class="page">
     <% if user_signed_in? %>
    <%= render "menu/top" %>
     <% end %>
    <%= yield %>
     <% if user_signed_in? %>
     <%= render "menu/bot" %>
       <% end %>
     </div>
  </body>
</html>
